:root{
    --color-body-red:red;
    --color-body-blue:blue;
    --color-body-black:black;
    --color-body-gray:gray;
    --color-body-green:green;
    --color-body-violet:violet;
    --color-body-tomato:tomato;
    --color-body-blueviolet:blueviolet;
    --color-body-white:white;
}

.header{
    background-color: var(--color-body-red);
    color: var(--color-body-blue);
}

td:nth-child(even){
    background-color: var(--color-body-blueviolet)
}

.header-link:hover{
    background-color: var(--color-body-white);
    color: var(--color-body-black);
}

.header-link:focus{
    background-color: var(--color-body-violet);
    color: var(--color-body-blue);
}

.header-link:active{
    background-color: var(--color-body-blue);
    color: var(--color-body-red);
}

.header-link:visited{
    color: var(--color-body-violet);
}


.header-main{
    background-color: var(--color-body-green);
    color: var(--color-body-gray);
}

.header-main-link:hover{
background-color: var(--color-body-black);
color: var(--color-body-red);
}

.header-main-link:focus{
    color: var(--color-body-tomato);
    background-color: var(--color-body-white);
}

.header-main-link:active{
    color: var(--color-body-black);
    background-color: var(--color-body-white);
}

.header-main-link:visited{
    color: var(--color-body-red);
}


.main{
    background-color: var(--color-body-blue);
    color: var(--color-body-tomato);
}

.main-link:hover{
background-color: var(--color-body-black);
color: var(--color-body-white);
}

.main-link:focus{
    background-color: var(--color-body-blue);
    color: var(--color-body-green);
}

.main-link:active{
    background-color: var(--color-body-tomato);
    color: var(--color-body-white);
}

.main-link:visited{
    color: var(--color-body-white);
}


.main-footer{
    background-color: var(--color-body-black);
    color: var(--color-body-white);
}

.main-footer-link:hover{
background-color: var(--color-body-red);
color: var(--color-body-black);
}

.main-footer-link:focus{
    background-color: var(--color-body-white);
    color: var(--color-body-black);
}

.main-footer-link:active{
    color: var(--color-body-blue);
    background-color: var(--color-body-red);
}

.main-footer-link:visited{
    color: var(--color-body-blue);
}

.footer{
    background-color: var(--color-body-gray);
    color: var(--color-body-green);
}

.footer-link:hover{
    background-color: var(--color-body-blueviolet);
    color: var(--color-body-blue);
}

.footer-link:focus{
    background-color: var(--color-body-black);
    color: var(--color-body-white);
}

.footer-link:active{
    color: var(--color-body-white);
    background-color: var(--color-body-white);
}

.footer-link:visited{
    color: var(--color-body-black);
}